body {
    background-color: rgba(79, 172, 91, 0.689);
}

P {
    color: white;
}

.h1 {
    color: blue;
}

h2 {
    color: white;
}

.navbar {
    background-color: rgb(5, 70, 16);
}

a:hover {
    border-radius: 2%;
    background-color: #006414;
}

#principal {
    margin-top: 5px;
}

.borde {
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 5px;
}

.borde2 {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 25px;
}

.d-block {
    height: 420px;
    border-radius: 5px;
}

.carousel-caption {
    background-color: rgba(32, 31, 31, 0.744);
    border-radius: 15px;
}

.carousel-inner {
    margin-top: 15px;
}

#imgcat {
    width: 300px;
    height: 200px;
}

#posicion {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    align-items: center;
}

.card {
    background-color: rgba(0, 67, 70, 0.502);
}

.col-2 {
    margin-top: 15px;
}

.container-form {
    background-color: rgba(1, 131, 138, 0.502);
    text-align: center;
    margin-top: 15px;
    margin-right: 7rem;
    margin-left: 7rem;
    margin-bottom: 15px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
}

#grid-container {
    margin-top: 30px;
}

#carouselExampleFade {
    margin-left: 10rem;
    margin-right: 10rem;
}

.col-6 {
    float: none;
    margin: auto;
}

.col-12 {
    height: 200px;
}

.row {
    margin-top: 20px;
}

#guardar {
    color: red;
}

#features {
    background-image: url("img/fondo´plantas.jpg");
}

.rounded-circle {
    width: 50px;
    height: 50px;
}
