{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="col-12 d-flex h-100 text-center text-white bg-dark"">

  <main class="col-12  px-3">
    <br>
    <br>
    <br>
    <br>
    <br><br><br>
    <div class="seba">
    <h1 class="text-white">Ayuda a una Fundación.</h1>
    <h2 class="text-white lead">Tienda de Plantas y Jardineria</h2>
    </div>
    <p class="lead">
      <a href="{% url 'store' %}" class="btn btn-success fw-bold border-black">Ir a tienda</a>
    </p>
  </main>
</div>

<h1 class="text-center">CATEGORÍAS</h1>

<div class="col row">
  <div class="col row">
    <div class="card" id="card-border" >
      <img src="{% static 'images/semillas1.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body ">
        <h5 class="card-title">Semíllas</h5>
        <p class="card-text">Las mejores semíllas del mercado.</p>
        <a href="{% url 'store' %}" class="btn btn-primary bg-success">Comprar</a>
      </div>
    </div>
  </div>

  <div class="col row">
    <div class="card" id="card-border">
      <img src="{% static 'images/girasol.jpg' %}" class="card-img-top " alt="...">
      <div class="card-body " >
        <h5 class="card-title">Plantas</h5>
        <p class="card-text">Todo en plantas.</p>
        <a href="{% url 'store' %}" class="btn btn-primary bg-success">Comprar</a>
      </div>
  </div>
</div>

<div class="col row">
  <div class="card " id="card-border" >
    <img src="{% static 'images/semillas1.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body" >
      <h5 class="card-title">Maceteros</h5>
      <p class="card-text">Todo en maceteros para el hogar.</p>
      <a href="{% url 'store' %}" class="btn btn-primary bg-success">Comprar</a>
    </div>
</div>
</div>
  
</div>

<div id="pricing" class="container-fluid">
  <div class="text-center">
      <h2>Convierte en un benefactor</h2>
      <h4>Elige el plan de donación con el que deseas aportar y comienza a mejorar la calidad de vida de nuestros ancianos</h4>
  </div>
  <div class="row slideanim">
      <div class="col-sm-4 col-xs-12">
          <div class="panel panel-default text-center">
              <div class="panel-heading">
                  <h1>Bronce</h1>
              </div>
              <div class="panel-body">
                  <p><strong>$20.000</strong></p>

              </div>
              <div class="panel-footer">
                  <h3>$20.000</h3>
                  <h4>Mensual</h4>
                  <a href="{% url 'agregar_suscriptor' %}"><button class="btn btn-primary">Quiero aportar</button></a>
              </div>
          </div>
      </div>
      <div class="col-sm-4 col-xs-12">
          <div class="panel panel-default text-center">
              <div class="panel-heading">
                  <h1>Plata</h1>
              </div>
              <div class="panel-body">
                  <p><strong>$50.000</strong></p>

              </div>
              <div class="panel-footer">
                  <h3>$50.000</h3>
                  <h4>Mensual</h4>
                  <a href="{% url 'agregar_suscriptor' %}"><button class="btn btn-primary">Quiero aportar</button></a>
              </div>
          </div>
      </div>
      <div class="col-sm-4 col-xs-12">
          <div class="panel panel-default text-center">
              <div class="panel-heading">
                  <h1>Oro</h1>
              </div>
              <div class="panel-body">
                  <p><strong>$100.000</strong></p>

              </div>
              <div class="panel-footer">
                  <h3>$100.000</h3>
                  <h4>Mensual</h4>
                  <a href="{% url 'agregar_suscriptor' %}"><button class="btn btn-primary">Quiero aportar</button></a>
              </div>
          </div>
      </div>
      <div class="col-sm-4 col-xs-12">
          <div class="panel panel-default text-center">
              <div class="panel-heading">
                  <h1>Diamante</h1>
              </div>
              <div class="panel-body">
                  <p><strong>Tú dedices el monto</strong></p>

              </div>
              <div class="panel-footer">
                  <h3>Diamante</h3>
                  <h4>Mensual</h4>
                  <a href="register.html"><button class="btn btn-primary">Quiero aportar</button></a>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock content %}




