{% extends 'store/main.html' %}
{% load static %}
{% block content %}


<div class="divisor"> </div>
<div id="carouselExampleIndicators " class="carousel slide carrucel barra" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner ">
    <div class="carousel-item active ">
      <img class="d-block w-100 " src="{% static 'images/imagenCarrusel1.jpg' %}"  alt="First slide">
    </div>
    <div class="carousel-item ">
      <img class="d-block w-100" src="{% static 'images/imagenCarrusel2.jpg' %}" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'images/imagenCarrusel3.jpg' %}" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
</div>
<div class="divisor"> </div>
<br><br><br><br><br>
<h1 class="text-center">CATEGORÍAS</h1>
<br><br><br><br><br>

<div class="row tarjetas barra">
  <div class="col mb-4 item-height">
    <div class="card" id="card-border" style="width: 18rem;">
      <img src="{% static 'images/semillas1.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body ">
        <h5 class="card-title">Semíllas</h5>
        <p class="card-text">Las mejores semíllas del mercado.</p>
        <a href="#" class="btn btn-primary bg-success">Comprar</a>
      </div>
    </div>
  </div>

  <div class="col mb-4 tarjetas item-heigth">
    <div class="card" id="card-border" style="width: 18rem;">
      <img src="{% static 'images/girasol.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body " >
        <h5 class="card-title">Plantas</h5>
        <p class="card-text">Todo en plantas.</p>
        <a href="#" class="btn btn-primary bg-success">Comprar</a>
      </div>
  </div>
</div>

<div class="col mb-4 tarjetas item-height ">
  <div class="card" id="card-border" style="width: 18rem ;">
    <img src="{% static 'images/maceteros1.jpg' %}" height="200px" class="card-img-top" alt="...">
    <div class="card-body" >
      <h5 class="card-title">Maceteros</h5>
      <p class="card-text">Todo en maceteros para el hogar.</p>
      <a href="#" class="btn btn-primary bg-success">Comprar</a>
    </div>
</div>
</div>
  
</div>
{% endblock content %}