{% extends 'store/main.html' %} {% load static %} {% block content %}

<div class="container-fluid text-center  row" id="containerseba">
    
    <div id="widget">

        <p style="color:black;">Total: {{importe_total_carro}}</p>
        {% include "carro/widget.html"  %}


    </div>


  <div class="row" id="containerseba">
    <h1 class="text-center text-black">Tienda de plantas y jardineria</h1>
    {% for product in products %}

    <div class="col-lg-4">
      <img class="thumbnail" src="{{product.imagen.url}}" />
      <div class="box-element product">
        <h6><strong>{{product.nombre}}</strong></h6>
        <hr />
        {% if user.username != 'administrador' %}
        <a href="{% url 'cart' %}" class="btn btn-success">agregar al carro</a>
        {% endif %}
        
        
          <strong>${{product.precio|floatformat:0}}</strong>
        </h4>
      </div>
    </div>
    
    {% endfor %}
    <a  class="btn btn-success btn-sm mt-3" href="{% url 'home' %}">&#x2190; Volver al home</a>

  </div>
  
</div>
{% endblock content %}
