body {
    background-color: hsl(0, 63%, 43%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: hsl(0, 0%, 30%);
}

.box-elementa {
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
}

.thumbnail {
    width: 100%;
    height: 200px;
    -webkit-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
    box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
}

.product {
    border-radius: 0 0 4px 4px;
}

.bg-dark {
    background-color: #4f868c!important;
}

#cart-icon {
    width: 25px;
    display: inline-block;
    margin-left: 15px;
}

#cart-total {
    display: block;
    text-align: center;
    color: #fff;
    background-color: red;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    font-size: 14px;
}

.col-lg-4,
.col-lg-6,
.col-lg-8,
.col-lg-12 {
    margin-top: 10px;
}

.btn {
    border-radius: 0;
}

.row-image {
    width: 100px;
}

.form-field {
    width: 250px;
    display: inline-block;
    padding: 5px;
}

.cart-row {
    display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.quantity {
    display: inline-block;
    font-weight: 700;
    padding-right: 10px;
}

.chg-quantity {
    width: 12px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    transition: .1s;
}

.chg-quantity:hover {
    opacity: .6;
}

.hidden {
    display: none!important;
}

.row {
    background-color: whitesmoke;
    padding-top: 5%;
    padding-bottom: 5%;
    
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 20px;
    
    
}

.col-lg-4 {
    padding-top: 25px;
}

.container {
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
}
#card-border{
    /*border: solid 10px;*/
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}
#card-border:hover{
    
    transform: scale(1.05);
}
.divisor{
    width: 100%;
    height: 5px;
    background-color: #a9e159;
    margin-top: 0px;
    margin-bottom: 0px;
}
.carrucel{
    margin-top: 0px;
    margin-left: 0%;
    margin-right: 0%; 
    background-color: black;
    
}
.color-texto{
    color: white
    ;
}
.tarjetas{
    margin-top: 50px;
    padding-left: 130px;
    padding-right: 0px;
    background-color: whitesmoke;
    
    display: block;
}
.links-rapidos{
    text-align: center;
    list-style: none;
    background-color: #97c211;
    
    padding-top: 7%;
    padding-bottom: 7%; 
    margin-top: 50px; 
    color: black;
}
.eliminar-vinetas{
    list-style: none;
}
.margen-lista{
    margin-right: 3%;
}
.texto-footer{
    margin-top: 30px;
    text-align: center;
    background-color: #83ae00;
    padding-top: 8%;
    padding-bottom: 8%;
}
.footer-contactanos{
    background-color: #a9e159;
    overflow: hidden;
    transition: all ease-out 0.2s;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.hover-div:hover{

}
.barra{
    margin-left: 1px;
    margin-right: 1px;
}
.footer-copyright{
    background-color: #a9e159;
}